*{
	margin: 0;
	padding: 0;
}

/** {
  box-sizing: border-box;
}*/

.main{
	width: 960px;
	margin: 0 auto;
}
.block1{
	height: 50px;
	background: #000000;
	position: relative;
}
.block1:after{
	content:"";
	display:block;
	clear: both;
}
.block1 h3{
	float: left;
	color:#fff;
	margin-left:100px;
	margin-top: 12.5px;
}
.block1 p{
	float: right;
	font-size: 10px;
	color: #fff;
	margin-top: 9px;
	margin-right: 100px;
}
.block2{
	position: relative;
	height: 210px;
	background: #00AA00;
}
.block2 .labels{
	position: relative;
	width: 130px;
	height: 40px;
	right: -800px;
	top: 140px;
}
.label1,.label2,.label3,.label4{
	position: absolute;
	bottom: 0px;
	float: right;
	margin: 4px;
	background-color: #fff;
	width: 15px;
	height: 25px;
	border: 1px solid red;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
}
.label2{
	margin-left: 29px;
}
.label3{
	margin-left: 54px;
}
.label4{
	margin-left: 79px;
}
.label1:hover,.label2:hover,.label3:hover,.label4:hover{
	background-color: red;
	height: 40px;
	bottom: 0px;
	line-height: 40px; 
}
.block3{
	width: 100%;
	height: 70px;
	border-bottom: 1px solid gray;
}
.block3box{
	margin: 0 auto;
	width: 400px;
	margin-left: 100px;
	display: inline-block;
}
.block3home,.block3profle,.block3about{
	float: left;
	cursor: pointer;
	border: 1px solid gray;
	margin-top: 14px;
	width: 120px;
	height:55px;
	text-align: center;
	background-color: #C0C0C0;
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: none;
}
/*.block3 a:hover{color: red}
.block3 a:focus, .block3 a:hover{
	background-color:#a60000;
	color: white; 
}*/
.block3home:hover,.block3profle:hover,.block3about:hover{
	background-color: white;
}
.block3home p,.block3profle p,.block3about p{
	margin-top: 17px;
}
.block4{
	width: 780px;
	height: 470px;
	margin: 10px auto;
}
.line1{
	width: 780px;
	float: left;
	margin: 0 auto;

}
.column1,.column3{
	border: 1px solid gray;
	width: 240px;
	height: 80px;
	float: left;
	margin: 8px;
	text-align: center;
	padding-top: 60px;
}
.column2{
	border: 1px solid gray;
	width: 175.5px;
	height: 80px;
	float: left;
	margin: 8px;
	text-align: center;
	padding-top:60px; 
}
.block5{
	height: 75px;
	background:#444444;
}
.block5 p a{
	font-size: 12px;
	color:#fff;
	margin-left: 417.65px;
	line-height: 40px;
	text-decoration:none;
}

